<div class="container pt-5 pb-5">
  <h1 class="text-center">Submit Tax Filing</h1>

  <app-tax-stepper class="mt-5" [currentStep]="currentStep">
  </app-tax-stepper>

  <div class="container mt-2 p-4 content rounded">
    <ng-container [ngSwitch]="currentStep">
      <app-tax-input-detail *ngSwitchCase="1" [(formTaxModel)]="formTaxModel" [submitted]="submitted">
      </app-tax-input-detail>
      <app-review-confirm *ngSwitchCase="2" [formTaxModel]="formTaxModel.getRawValue()">
      </app-review-confirm>
    </ng-container>
  </div>

  <div class="d-flex mt-4" *ngIf="currentStep === 1">
    <button class="btn btn-outline-dark rounded-pill btn-small">
      Back
    </button>
    <button class="btn btn-dark ms-4 rounded-pill btn-small" (click)="onSubmit()">
      Next
    </button>
  </div>
  <div class="d-flex mt-4 justify-content-center" *ngIf="currentStep === 2">
    <button class="btn btn-dark ms-4 rounded-pill btn-big">
      Confirm and Submit
    </button>
  </div>

</div>
