@media only screen and (max-width: 500px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.stepper {
  display: flex;
  padding: 0;
}

.stepper-item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    flex: 1;

    &:after {
      content: "";
      position: relative;
      z-index: -1;
      height: 2px;
      background-color: lightgrey;
      flex: 1;
    }
  }
}

.wrapper {
  max-width: 500px;
  margin: 2rem auto 0;
  color: lightgray;
}

.step-item-circle {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px lightgray solid;
}


.step-item-circle-active {
  border: 2px #2B3467 solid;
}

.step-item-line-active {
  &:not(:last-child) {
    &:after {
      background-color: #2B3467;
    }
  }
}

.step-name-active {
  color: #2B3467;
}

.step-name {
  max-width: 580px;
  margin: 0 auto 0;
  color: lightgray;
}
