<div class="wrapper">
  <ol class="stepper">
    <li class="stepper-item">
      <div class="d-flex justify-content-center flex-column">
        <div class="step-item-circle m-auto d-flex">
          <h3 class="m-auto">1</h3>
        </div>
      </div>
    </li>
    <li class="stepper-item">
      <div class="d-flex justify-content-center flex-column">
        <div class="step-item-circle m-auto d-flex">
          <h3 class="m-auto">2</h3>
        </div>
      </div>
    </li>
  </ol>
</div>
<div class="stepper-name d-flex justify-content-between">
  <p class="ms-md-4">Input Detail</p>
  <p class="ms-md-4">Reviews & Confirm</p>
</div>
