.content {
  border: 2px #2B3467 solid;
}

.btn-small {
  width: 80px;
}

.btn-big {
  width: 200px;
}

.btn {
  border-color: #2B3467;
}

.btn-primary {
  background-color: #2B3467;
}

.btn-outline-primary {
  color: #2B3467;

  &:hover {
    background-color: #2B3467;
    color: white;
  }
}
