<div class="container pt-5 pb-5">
  <h1 class="text-center">Submit Tax Filling</h1>

  <app-tax-stepper class="mt-5" [currentStep]="currentStep">
  </app-tax-stepper>

  <div class="container mt-2 p-4 content rounded">
    <app-tax-input-detail [(formTaxModel)]="formTaxModel">
    </app-tax-input-detail>
  </div>

  <div class="d-flex mt-4">
    <button class="btn btn-outline-primary rounded-pill">
      Back
    </button>
    <button class="btn btn-primary ms-4 rounded-pill">
      Next
    </button>

  </div>

</div>
