<div class="d-flex" [formGroup]="formGroup">
  <ng-select class="dropdown-select"
             [items]="monthList$ | async"
             bindLabel="label"
             bindValue="value"
             [readonly]="monthReadOnly"
             [clearable]="false"
             formControlName="month"
             placeholder="Select month">
  </ng-select>
  <ng-select class="dropdown-select ms-4"
             [items]="yearList$ | async"
             bindLabel="label"
             bindValue="value"
             [clearable]="false"
             formControlName="year"
             (change)="onChangeYear($event)"
             placeholder="Select year">
  </ng-select>
</div>
